<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home </title>
    {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
<body class ="background_01">
<div class="teams-page">
  <div class="home-background">
    <div class="home-container">


    <h1 class = "main-logo">Travel Buddy</h1>
    <p class ="subtitle">Add trips and join friends!</p>
    <br>

    <p class ="textbody">Create your own traveling experience and allow your friends to join you! We provide an easy way for you to see what trips are avilable to you, and who’s coming.</p>
    <br>
    <br>
    <br>

    <a href="/log-in">Log In</a> | <a href="/register">Sign Up</a> 

  </div>
  </div>

</div>

</body>
